<div class="container mt-5 ">
    <h1 class="d-flex justify-content-center align-items-center">Submit Tax Filing</h1>
</div>
<div class="d-flex justify-content-center my-4">
    <div *ngIf="cardShow == 0">
        <div class="text-center me-4">
            <div class="rounded-circle border border-dark text-dark d-flex justify-content-center align-items-center"
                style="width: 40px; height: 40px;">1</div>
            <p>Input Detail</p>
        </div>
    </div>
    <div *ngIf="cardShow == 1">
        <div class="text-center me-4">
            <div class="rounded-circle bg-dark text-white d-flex justify-content-center align-items-center"
            style="width: 40px; height: 40px;">1</div>
            <p>Input Detail</p>
        </div>
    </div>

    <div class="text-center">
        <div class="rounded-circle border border-dark text-dark d-flex justify-content-center align-items-center"
            style="width: 40px; height: 40px;">2</div>
        <p>Review & Confirm</p>
    </div>
</div>
<div *ngIf="cardShow == 0">
    <div class="d-flex justify-content-center">
        <div class="card w-50 mx-auto">
            <div class="card-body">
                <h3 >Tax Filing Detail</h3>
                <div class="border-top pt-2 border-dark"></div>
                <p>Type of filing<span class="text-danger">*</span></p>
                <app-filing-type (filingTypeForPage)="filingType = $event"></app-filing-type>
                <div class="row">
                    <div class="row">
                        <div class="col-4">
                            <p>Tax Month<span class="text-danger">*</span></p>
                        </div>
                        <div *ngIf="filingType == '1'" class="col ms-2">
                            <p>Type<span class="text-danger">*</span></p>
                        </div>
                    </div>
                    <div class="col-2">
                        <app-vat-month [yearSelect]="year" (monthSelect)="month = $event"></app-vat-month>
                    </div>
                    <div class="col-2">
                        <app-year (selectYear)="year = $event"></app-year>
                    </div>
                    <div *ngIf="filingType == '1'" class=" col">
                        <div >
                            <select>
                                <option value="">On-Time</option>
                            </select>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Tax Computation</h3>
                    </div>
                    <div class="col text-center ms-5">
                        <p class="text-decoration-underline">View Exchange Rate</p>
                    </div>
                </div>
                <div class="border-top pt-2 border-dark"></div>
                <b>Provide total value taxable electronic service<span class="text-danger">*</span></b>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p>1.Total value of taxable electronic service exclusive of VAT</p>
                    </div>
                    <div class="col-5 text-end">
                        <app-sale-amount (saleAmountForTax)="saleAmount = $event" (baseSaleAmount)="baseSaleAmount = $event"></app-sale-amount>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p>2.Total VAT to be remitted (7% of 1.)</p>
                    </div>
                    <div class="col-5 text-end">
                        <app-tax-amount (taxAmountForTotal)="taxAmount = $event"
                            [baseSaleAmount]="saleAmount"></app-tax-amount>
                    </div>
                </div>
                <div *ngIf="filingType === '1'">
                    <div class="row">
                        <b>In case of late filing and payment, or additional filing</b>
                        <div class="col-12 col-md-6">
                            <p>3.Surcharge</p>
                        </div>
                        <div class="col-5 text-end">
                            <app-surcharge (surChargeForTotal)="surCharge = $event"
                                [surCharge]="taxAmount"></app-surcharge>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p>4.Penalty</p>
                        </div>
                        <div class="col-5 text-end">
                            <app-penalty (checkValueForTotal)="penalty = $event" [checkValue]="surCharge"></app-penalty>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p>5.Total amount of Vat,surcharge,and penalty to be remitted(2.+3.+4.)</p>
                        </div>
                        <div class="col-5 text-end">
                            <app-total-amount (TotalForCheck)="total = $event" [taxAmount]="taxAmount"
                                [surCharge]="surCharge" [penalty]="penalty"></app-total-amount>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="d-flex justify-content-start mt-3 w-50 mx-auto">
        <button class="btn btn-whith border-dark me-2 rounded-pill" (click)="goBack()">Back</button>
        <button class="btn btn-dark rounded-pill" (click)="goNext()">Next</button>
    </div>
</div>

<div *ngIf="cardShow ==1">
    <div class="container mt-5">
        <div class="card w-50 mx-auto">
            <div class="card-body">
                <h3>Tax Filing Detail</h3>
                <div class="border-top pt-2 border-dark"></div>
                <div class="row">
                    <div class="col-3">
                        <b>Type of filing</b>
                    </div>
                    <div class="col">
                        {{ TaxData.filingType }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <b>VAT Month</b>
                    </div>
                    <div class="col">
                        {{TaxData.month }}
                        {{ TaxData.year}}
                    </div>
                </div>

                <h3>Tax Computation</h3>
                <div class="border-top pt-2 border-dark"></div>
                <div class="row">
                    <div class="col-9">
                        <b>Total value of taxable electronic service exclusive of VAT</b>
                    </div>
                    <div class="col-3 text-end">
                        <p>{{ (TaxData.saleAmount) | number:'1.2-2' }} THB</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        <b>Total VAT to be remitted</b>
                        <p>(7% of Total value of taxable electronic service exclusive or Vat)</p>
                    </div>
                    <div class="col-3 text-end">
                        <P>{{TaxData.taxAmount | number:'1.2-2'}} THB</P>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        <b>Total Amount Payable</b>
                    </div>
                    <div class="col-3 text-end">
                        <div>
                            <b>{{TaxData.totalAmount | number:'1.2-2'}} THB</b>
                        </div>
                    </div>
                </div>
                <h3>Declaration</h3>
                <div class="border-top pt-2 border-dark"></div>
                <p> I hereby certify that information given above are true and correct and agree to be bound by such
                    information.</p>

            </div>
        </div>
        <div class="d-flex justify-content-center mt-3 w-50 mx-auto">
            <button class="btn btn-dark rounded-pill" (click)="showModal = true">Confirm and Submit</button>
            <div class="modal-backdrop" *ngIf="showModal">
                <div class="modal-dialog-centered d-flex justify-content-center align-items-center">
                    <div class="bg-white rounded">
                        <h5>Submitted Tax Data</h5>
                        <pre>{{ TaxData | json }}</pre>
                        <div class="d-flex justify-content-center mt-3 w-50 mx-auto">
                            <button class="btn btn-dark rounded-pill" (click)="showModal = false">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>